@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  // background: white;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

.git-button {
  width: 11.5rem;
  height: 2.1rem;
  padding: 0.375rem 0.375rem 0;
  background: #eee;
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.git-cover,
.git-cover > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.git-inner {
  background-color: #9b9b9b;
}

.git-outer {
  background-color: #727171;
  transform: translateZ(0.25rem);
}

.git-edge {
  background-color: #646464;
  top: 0.25rem;
  height: 0.25rem;
  transform: rotateX(90deg);
  transform-origin: center top;
}

.git-button {
  perspective: 30rem;
}

.git-inner,
.git-outer {
  border-radius: 0.25rem;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.git-button:hover .git-cover {
  transform: rotateX(-120deg);
}

.git-button,
.git-button div {
  transition-duration: 0.7s;
  transition-timing-function: ease;
}

.git-cover {
  transform-origin: center bottom;
  transform-style: preserve-3d;
  text-align: center;
  z-index: 99;
  cursor: pointer;

}

.git-cover svg {
  width: 30px;
  height: 30px;
  filter: drop-shadow(0 1px 2px rgba(0,0,0,0.25));
}

.git-button:hover .shadow {
  transform: rotateX(45deg) scale(0.95);
  opacity: 1;
}

.linked-button {
  width: 11.5rem;
  height: 2.1rem;
  padding: 0.375rem 0.375rem 0;
  background: #eee;
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.linked-cover,
.linked-cover > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.linked-inner {
  background-color: rgb(0, 146, 224);
}

.linked-outer {
  background-color: #0077B5;
  transform: translateZ(0.25rem);
}

.linked-edge {
  background-color: rgb(0, 97, 150);
  top: 0.25rem;
  height: 0.25rem;
  transform: rotateX(90deg);
  transform-origin: center top;
}

.linked-button {
  perspective: 30rem;
}

.linked-inner,
.linked-outer {
  border-radius: 0.25rem;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.linked-button:hover .linked-cover {
  transform: rotateX(-120deg);
}

.linked-button,
.linked-button div {
  transition-duration: 0.7s;
  transition-timing-function: ease;
}

.linked-cover {
  transform-origin: center bottom;
  transform-style: preserve-3d;
  text-align: center;
  z-index: 99;
  cursor: pointer;
}

.linked-cover svg {
  width: 30px;
  height: 30px;
  filter: drop-shadow(0 1px 2px rgba(0,0,0,0.25));
}

.linked-button:hover .shadow {
  transform: rotateX(45deg) scale(0.95);
  opacity: 1;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 5), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem 4rem 4rem 4rem;
  // height: 100%;
  min-height: calc(100vh - 180px);

  .icons {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    div {
      margin-right: 30px;
      text-align: center;

      a {
        color: $primary-color;
        width: 100%;
        position: relative;
        bottom: 4px;
        font-size: 1.2rem;
      }
    }
  }

  &#home {
    overflow: hidden;

    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-template-areas: 'bioimage bio bio';
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: $secondary-color 3px solid;
  width: 280px;
  height: auto;
}

.bio {
  grid-area: bio;
  font-size: 1.1em;
  h3{
    font-size: 1.5em;
  }
}

.job-1 {
  grid-area: UCLA;
  margin-left: 20px;

}

.pic-1{
  grid-area: UCLApic;
  background-image: url('../img/UCLA.jpg');
  background-size: cover;
  background-position: bottom;
  transition: transform .5s ease-in-out;

  transform: translate(0%);
}

.job-2 {
  grid-area: APP;
  margin-right: 20px;

}

.pic-2{
  grid-area: APPpic;
  background-image: url('../img/App.png');
  background-size: cover;
  background-position: center;
  transition: transform .5s ease-in-out;

  transform: translate(0%);
}

.job-3 {
  grid-area: HACK;
  margin-right: 20px;

}

.pic-3{
  grid-area: HACKpic;
  background-color: black;
  background-image: url('../img/hack.png');
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: left 30px top 50%;
  color: white;
  font-size: 100px;
  transition: transform .5s ease-in-out;

  transform: translate(0%);

  &:before{
    content: 'Hackingtons';
    position: relative;
    top: 30%;
    left: 30%;
  }
}

.hidepic1{
    position: relative;
    transform: translate(120%);
}

.hidepic2{
  position: relative;
  transform: translate(-120%);
}

.Education{
  grid-area: Education;
  font-size: 5rem;
  color: $primary-color;
  text-align: center;
}

.job-container{
  display: grid;
  grid-template-areas: 'HACK HACKpic' 'Education Education' 'UCLApic UCLA' 'APP APPpic';
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 100px;

  background: white;
  padding: 4rem;
  .job {
    // background: lighten($primary-color, 5);
    background: white;
    padding: 0.5rem;
    width: 100%;
    color: $primary-color;
    border-bottom: $secondary-color 5px solid;
    margin-bottom:100px;

    h3{
      font-size: 3rem;
      color: $secondary-color;
    }

    h4{
      font-size: 1.5em;
    }
  }
}

.relevant{
  font-weight: bold;
  font-size: 1.2em;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: $secondary-color;
  height: 60px;
}

#about {
  .sm-heading {
    background: lighten($primary-color, 5);
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem;

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.7;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

.skills {

  padding-top: 40px;
  display: grid;
  grid-template-areas: 'img1 img2 img3 img4' 'img5 img6 img7 img8' 'img9 img10 img11 .';
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;

  .skill-img {
    display: flex;
    justify-content: center;
    align-items: center;

    .hoverable {
      text-align: center;
      height: auto;
      width: 50%;

      .hideSkill {
        font-size: 1.5rem;
        visibility: hidden;
        z-index: -1;
        position: relative;
        transform: translate(0%, -200%);
      }

      .seethru {
        background: $primary-color;
        border-radius: 40%;
      }

      img {
        width: 100%;
        position: relative;
        transition: transform 0.5s ease-in-out;
        transform-origin: top;
      }

      &:hover {
        cursor: pointer;
        img {
          transform: rotate(90deg);
        }
        .hideSkill {
          visibility: visible;

        }
      }
    }
  }
}

#img1 {
  grid-area: img1;
}

#img2 {
  grid-area: img2;
}

#img3 {
  grid-area: img3;
}

#img4 {
  grid-area: img4;
}

#img5 {
  grid-area: img5;
}

#img6 {
  grid-area: img6;
}

#img7 {
  grid-area: img7;
}

#img8 {
  grid-area: img8;
}

#img9 {
  grid-area: img9;
}

#img10 {
  grid-area: img10;
}

#img11 {
  grid-area: img11;
}

.btn {
  display: block;
  padding: 0;
  height: 2rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    // background: $secondary-color;
    // color: $primary-color;
  }
}

.btn-dark {
  @extend .btn;
  // background: darken($primary-color, 50);
  background: white;
  color: #fff;
  overflow: hidden;

  .swipe {
    padding: 0.2rem 0.2rem 0.2rem 4px;
    background: $secondary-color;
    transform: translate(0px, 0px);
    transition: transform 0.5s ease-in-out;
    margin: 0;
    height: 100%;
  }

  .innertext-g {
    position: absolute;
    color: $secondary-color;
    padding-left: 10px;
    padding-top: 2px;
  }
}

.btn-dark:hover {
  .swipe {
    transform: translate(75%, 0px);
  }
}

.btn-light {
  @extend .btn;
  background: white;
  color: #333;
  overflow: hidden;

  .swipe {
    padding: 0.2rem 0.2rem 0.2rem 4px;
    background: lighten($primary-color, 50);
    transform: translate(0px, 0px);
    transition: transform 0.5s ease-in-out;
    margin: 0;
    height: 100%;
  }

  .innertext-p {
    position: absolute;
    color: lighten($primary-color, 30);
    padding-left: 10px;
    padding-top: 2px;
  }
}

.btn-light:hover {
  .swipe {
    transform: translate(75%, 0px);
  }
}
@import "mobile";
